/* line 7, ../scss/sukiya.scss */
* {
  margin: 0 auto;
  padding: 0;
}

/* line 11, ../scss/sukiya.scss */
html {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック','MS P Gothic', sans-serif;
  -ms-text-size-adjust: 100%;
}

/* line 15, ../scss/sukiya.scss */
body {
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
}

/* line 20, ../scss/sukiya.scss */
#header {
  width: 100%;
  height: 40px;
  background-color: #000;
  border-bottom: 1px solid #ccc;
}
/* line 25, ../scss/sukiya.scss */
#header .left_box {
  width: 20%;
  height: 40px;
  float: left;
}
/* line 30, ../scss/sukiya.scss */
#header .middle_box {
  width: 60%;
  height: 40px;
  float: left;
}
/* line 35, ../scss/sukiya.scss */
#header .right_box {
  width: 20%;
  height: 40px;
  float: left;
}
/* line 40, ../scss/sukiya.scss */
#header figure {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  margin: 5px 0 5px 10px;
}
/* line 46, ../scss/sukiya.scss */
#header .button {
  margin: 10px auto;
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  border-radius: 3px;
}
/* line 56, ../scss/sukiya.scss */
#header .menu {
  width: 20px;
  height: 20px;
  margin: 10px 15px 10px 15px;
  background-color: #ccc;
  float: right;
}

/* line 64, ../scss/sukiya.scss */
#images {
  width: 90%;
  height: 100px;
  background-color: #ccf;
  margin-bottom: 10px;
}

/* line 71, ../scss/sukiya.scss */
.friend, .fb, .numbers, .tw, .press, .new {
  padding: 1px 5px 1px 5px;
  text-align: center;
  color: #fff;
  float: left;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 10px;
}

/* line 81, ../scss/sukiya.scss */
.social {
  width: 80%;
  height: 20px;
  margin: 0 auto 10px auto;
}

/* line 87, ../scss/sukiya.scss */
.friend {
  background-color: #9f9;
}

/* line 91, ../scss/sukiya.scss */
.fb {
  background-color: #99f;
}

/* line 95, ../scss/sukiya.scss */
.numbers {
  background-color: #eee;
}

/* line 99, ../scss/sukiya.scss */
.tw {
  background-color: #ccc;
}

/* line 104, ../scss/sukiya.scss */
.news_head {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  background-color: #eee;
  color: #993333;
  padding: 10px 10px 0px 10px;
}
/* line 111, ../scss/sukiya.scss */
.news_head span {
  font-size: 12px;
  float: right;
}

/* line 116, ../scss/sukiya.scss */
.press {
  float: left;
  background-color: #993333;
  overflow: hidden;
  margin-left: 10px;
}

/* line 124, ../scss/sukiya.scss */
article {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px dashed #993333;
  color: #0099ff;
}
/* line 130, ../scss/sukiya.scss */
article time {
  font-size: 10px;
  float: left;
}
/* line 134, ../scss/sukiya.scss */
article p {
  clear: both;
  margin-top: 5px;
}

/* line 140, ../scss/sukiya.scss */
.press {
  background-color: #993333;
}

/* line 145, ../scss/sukiya.scss */
.new {
  background-color: #fff;
  border: 1px solid #993333;
  color: #993333;
  margin-left: 10px;
}

/* line 152, ../scss/sukiya.scss */
.more {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #993333;
  border-radius: 3px;
  color: #0099ff;
  text-align: center;
}

/* line 166, ../scss/sukiya.scss */
.radiation {
  box-sizing: border-box;
  width: 90%;
  height: 60px;
  line-height: 60px;
  border: 2px solid #993333;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 16px;
}

/* line 177, ../scss/sukiya.scss */
.black_line {
  width: 100%;
  height: 5px;
  background-color: #000;
  margin-top: 10px;
}

/* line 184, ../scss/sukiya.scss */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
}
/* line 190, ../scss/sukiya.scss */
table td {
  height: 80px;
  border: 1px solid #eee;
}
/* line 193, ../scss/sukiya.scss */
table td figure {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin: 0 auto;
  background-color: #ccc;
}
/* line 200, ../scss/sukiya.scss */
table td h5 {
  margin: 0 auto;
}

/* line 205, ../scss/sukiya.scss */
ul {
  width: 100%;
  height: 240px;
}

/* line 210, ../scss/sukiya.scss */
ul li {
  box-sizing: border-box;
  width: 50%;
  height: 40px;
  padding: 10px 0 10px 10px;
  float: left;
  background-color: #ccf;
  color: #0099ff;
  list-style: none;
  font-size: 12px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

/* line 224, ../scss/sukiya.scss */
.copy {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
}

/* line 232, ../scss/sukiya.scss */
.pc {
  width: 90%;
  background-color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #0099ff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
