@import "compass";

#l_header {
	width: 100%;
	height: 100px;
	border-top: 3px solid #900;
	
	.box_wrap {
		width: 960px;
		height: 100px;
		margin: 0 auto;

		.box_left {
			width: 300px;
			height: 100px;
			float: left;
		}
	}
}

.logo {
	width: 280px;
	height: 60px;
	margin-top: 30px;
	background-color: #0cf;
}

.box_right {
	position: relative;
	width: 300px;
	height: 100px;
	float: right;
	ul {
		position: absolute;
		width: 240px;
		height: 40px;
		right: 0;
		border:1px solid #999;
		background-color: #ccc;
		li {
			width: 120px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin: 0 auto;
			font-size: 12px;
			float: left;
		}
	}

	.tel {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-top: 20px;
		font-size: 24px;
	}
}/* box_right */


#l_nav {
	width: 100%;
	height: 50px;
	border-top: 1px solid #300;
	border-bottom: 1px solid #300;
	background-color: #900;

	ul {
		width: 960px;
		height: 40px;
		margin: 5px auto 5px auto;

		li {
			height: 40px;
			float: left;
			border-left: 1px solid #fff;
			padding:0 14px 0 14px;
			line-height: 40px;
			color: #fff;
		}
		li:last-child {
			border-right: 1px solid #fff;
			padding:0 20px 0 20px;
		}
	}
}
/* #l_nav */

#l_main_image {
	width: 100%;
	height: 300px;
	margin: 0 auto 20px auto;
}

.main_image {
	width: 960px;
	height: 300px;
	margin: 0 auto;
	background-color: #cfc;
}

/* main_iamge */

#l_appeal {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;

	h5 {

		width: 940px;
		height: 20px;
		padding:10px;
		border: 1px solid #900;
		margin: 0 auto;
		color: #900;
		font-size: 14px;
	}
}

/* l_appeal */

#l_main {
	width: 960px;
	height: 900px;
	margin: 0 auto 80px auto;
}

#l_box-left {
	width: 680px;
	height: auto;
	margin-right: 40px;
	float: left;
}

#l_links {
	width: 680px;
	height: 210px;
	margin-bottom: 40px;
	
	.box {
		width: 198px;
		height: 200px;
		border:1px solid #ccc;
		margin-right: 25px;
		position: relative;
		float: left;

		.box-title {
			width: 198px;
			height: 50px;
			background-image: url(mint-green.png);
		}

		p {
			width: 160px;
			height: 120px;
			margin:10px 20px 0 20px;
			font-size: 14px;
		}

		span {
			position: absolute;
			bottom: 10px;
			right: 10px;
			color: #900;
			font-size: 14px;
		}
	}

	.box:last-child {
		margin-right: none;
	}
}

/* #l_links */

#l_news {
	width: 680px;
	height: 700px;
	
	.info {
	width: 680px;
	height: 38px;
	border:1px solid #ccc;
	margin-bottom: 10px;
	}

	h4 {
		width: 660px;
		height: 40px;
		line-height: 40px;
		border-left: 10px solid #900;
		padding-left: 30px;
		margin-top: -1px;
	}

	ul {
		width: 680px;
		height: 400px;

		li {
			width: 680px;
			height: auto;
			padding:20px 0 20px 0;
			border-bottom: 1px dotted #ccc;

			span {
				font-size: 14px;
				display: inline-block;
			}

			a {
				display: inline-block;
				color: #0cf;
				padding-left: 20px;
				text-decoration: none;
				font-size: 16px;
			}
		}
	}/* ul */

	.facebook {
		width: 678px;
		height: 300px;
		border:1px solid #333;
		margin-top: 20px;
	}
}
/* l_news */

#l_box-right {
	width: 240px;
	height: auto;
	float: right;
	.title {
		width: 230px;
		height: 40px;
		background-color: #0cf;
		line-height: 40px;
		color: #fff;
		font-weight: bold;
		padding-left: 10px;
		margin-bottom: 10px;
	}
}

.brochure {
	width: 240px;
	height: 240px;
	background-color: #eee;
	margin-bottom: 10px;
}

.banner {
	width: 240px;
	height: 60px;
	background-color: #eee;
	margin-bottom: 10px;
}

/* main */

#l_page-top {
	position: relative;
	width: 960px;
	height: 40px;
	margin: 0 auto;
}

.page-top {
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	position: absolute;
	right: 0;
	background-color: #900;
	text-align: center;
	cursor: pointer;
}

/* l_page-top */

#l_footer {
	width: 100%;
	height: 240px;
	background-color: #eee;
	border-top: 2px solid #900;

	.box_wrap {
		width: 960px;
		height: 200px;
		margin: 0 auto;

		ul {
			width: 900px;
			height: 20px;
			margin: 0 0 10px 0;
			
			li {
				padding:0 7px 0 7px;
				border-left: 1px solid #000;
				float: left;
			}

			li:last-child {
				border-right: 1px solid #000;
			}
		}

		ul:first-child {
			margin-top: 20px;
		}

		.company-name {
			font-weight: bold;
			margin-top: 20px;
		}

		.address {
			margin-bottom: 20px;
			span {
				margin-right: 10px;
			}
		}

		.copyright {

		}
	}/* box_wrap */
}


